.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: 100px;

}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* Show it is fixed to the top */
body {
  padding-top: 4.5rem;
}
body.dark-theme img {
  filter: brightness(.8) contrast(1.2);
}

@media (prefers-color-scheme: dark) {
  body {
      --color-bg: rgb(47, 47, 47);
      --color-texto: #FDFEFE;
  }

  body.light-theme {
      --color-bg: #FDFEFE;
      --color-texto: #17202A;
  }

  img {
      filter: brightness(.8) contrast(1.2);
  }
  
}

body {
  background-color: var(--color-bg);
}

h1 {
  color: var(--color-texto);
}
.lead{
  color: var(--color-texto)
}
.boton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.container{
  margin: auto;
  width: 100%;
  padding: 10px;
  vertical-align:auto;
  text-align: center;
  
}
.col-md-3{
  color: var(--color-texto)
}
.mensaje{
  color: var(--color-texto)
  
}
.Tablas{
  color: var(--color-texto)
}
.Tablas {
  margin: auto;
  padding: 40px;
  text-align: center;
}
.boton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.consulta{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: 1px;
}
.buscar{
  display: block;
   width: 30%;
   margin-left: auto;
   margin-right: auto;

}
.Search{
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.user{
  margin: auto;
  background-color:white;

 
}
.table{
  margin: auto;
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
}

.titulo{
  color: var(--color-texto)
}
.titulo{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.pelicula{
  width: 100%;
  margin: auto;
  margin-top: auto;
}
.trailer{
  width: 90%;
  height: 600px;
  margin: auto;
  margin-top: auto;
}
.card-body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-content: flex-start;
}
.img-fluid {
  max-width: 100%;
}
.dropdown-toggle {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;

}
@media only screen and (max-width: 414px) {
  .trailer{
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: auto;
  }
  .pelicula{
    width: 100%;
    margin: auto;
    margin-top: auto;
  }
  .img-fluid {
    max-width: 40%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
.dropdown-menu{
  margin-left: 30%;
}
.grid { 
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  align-items: center;
  justify-items: center;
  

  }
.grid > article {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
@media only screen and (max-width: 414px) {
  .grid { 
    display: flex;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
    padding-top: 5px;
    text-align: center;
    align-items: center;
    justify-items: center;
  
    }
  
}
@media only screen and (min-width: 415px) {
  .grid { 
    display: flex;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 20%;
    padding-top: 5px;
    text-align: center;
    align-items: center;
    justify-items: center;
  
    }
}
@media only screen and (min-width: 1024px) {
  .grid { 
    display: flex;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 15%;
    padding-top: 5px;
    text-align: center;
    align-items: center;
    justify-items: center;
  
    }
}
@media only screen and (min-width: 1300px) {
  .grid { 
    display: flex;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 220px;
    padding-top: 5px;
    text-align: center;
    align-items: center;
    justify-items: center;
    
    }
}
.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.line-clamp-descripción {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.plus {
  color: white;
}
.delete{
  color: white;
}
.plus svg{
  max-width: 10%;
  min-width: 20px;
}
.delete svg{
  max-width: 10%;
  min-width: 20px;
}
html {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}
body {
  margin: 0;
  margin-bottom: 70px;
  
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  border-top: 1px solid;
}
.version{
  text-align: right;
  float: right;
  max-width: max-content;

}
.comentarios{
  padding-top: 1%;
  text-align: center;
  margin: auto;
  width: 50%;
}
